@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Ubuntu:300,400,500,700&display=swap');
// @import url('https://www.korunarlidere.com/assets_front/icon-fonts/fontawesome-4.7.0/css/font-awesome.min.css');

@import "reset.scss";
@import "mixins.scss";
@import "variables.scss";
@import "grid.scss";
@import "helpers.scss";
@import "fonts.scss";
@import "animations.scss";

body{font-family: 'Open Sans' !important;background: #fafafa;}
h1, h2 ,h3, h4, h5, h6{font-family: 'Ubuntu' !important;@include transition;}
p{font-size:14px;line-height:1.5em;color:#555;@include transition;}
main{min-height: 80vh;}

.dark{
	.bg{
		&-secondary{
			background:#222;
		}
	}
}

.bg{
	&-secondary{
		background:#f3f3f3;
	}
}

.section{
	@include transition;
	padding:48px 0;
}

.section-clean{
	@include transition;
}

#app{
	min-height:100vh;
	@include transition;
	overflow-x:hidden;
	
	&.dark{
		background:#191919;
	}
}

@-webkit-keyframes sk-cubeGridScaleDelay {
	0%,70%,100%{-webkit-transform:scale3D(1,1,1);transform:scale3D(1,1,1)}
	35%{-webkit-transform:scale3D(0,0,1);transform:scale3D(0,0,1)}
}
@keyframes sk-cubeGridScaleDelay {
	0%,70%,100%{-webkit-transform:scale3D(1,1,1);transform:scale3D(1,1,1)}
	35%{-webkit-transform:scale3D(0,0,1);transform:scale3D(0,0,1)}
}

.connect-page{
	width:100%;
	height:100vh;
}

.prompt{
	width: 100%;height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.8);
	z-index: 99;
	backdrop-filter: saturate(180%) blur(20px);
}